.fl{
    border: 2px solid rgb(60, 192, 143);
    background-color: rgb(180, 219, 205);
}



.Register {
    width: 50vw;
    padding: 12px 10px;
    margin: 0px 30vw;
    /* box-sizing: border-box; */
    color: rgb(173, 130, 157);
    right: 50%;
  }
  
  .login {
    width: 50vw;
    /* border: 2px solid rgb(180, 219, 205); */
    /* box-sizing: border-box; */
    margin: 0px 30vw;
    color: rgb(115, 30, 139);
    right: 70%;
  }
  
  input {
    width: 50vw;
    padding: 12px 10px;
    margin: 0px;
    /* box-sizing: border-box; */
    border-color: rgb(31, 172, 61);
    right: 0%;
  }

.button[type = submit]{
    margin: 0px 10vw;
    background-color:  rgb(59, 208, 46);
}
 
h1{ border: 2px solid rgb(180, 219, 205);}

  .button[type = submit] :hover
  {
      background-color:rgb(222, 211, 198);
  }
 input:hover
  {
      background-color:antiquewhite;
  }

  button{
    display: inline-block; 
        }

  Nav { border: 2px solid rgb(180, 219, 205);
    /* display: inline-block;  */
        }
    ul{  display: inline-block;}